body {
  background-color: wheat;
}

#List {
  background-color: white;
  text-shadow: 2px 2px 5px white;
  width: 35%;
  margin: 150px auto;
}

#TaskInput {
  border: none;
  padding: 2px;
  width: 97%;
  height: 30px;
  border-bottom: 1px solid #f0f0f0;
}

#ListItem {
  border-bottom: 1px solid #f0f0f0;
  padding: 6px;
}

#ListContainer {
  margin: 0;
  padding: 0;
  list-style: none;
}

#Clear {
  margin: 0;
  background-color: #f0f0f0;
}

#Clear p {
  padding: 20px;
  text-align: center;
}
