body {
  background-color: #f4f5f7;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#List {
  background-color: white;
  width: 100%;
  max-width: 450px;
  margin: 150px auto;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

#TaskInput {
  border: none;
  padding: 22px;
  width: 100%;
  display: block;
  height: 30px;
  border-bottom: 1px solid #f0f0f0;
}

#TaskInput:focus {
  outline: none;
}

.ListItem {
  border-bottom: 1px solid #f0f0f0;
  padding: 13px;
}

.ListItem img {
  width: 20px;
  height: 20px;
  float: right;
  opacity: 0.3;
}

.ListItem img:hover {
  cursor: move;
}

.ListItem input {
  float: left;
  margin-right: 19px;
}

.ListItem input::after {
  content: " ";
  clear: right;
}

#taskcont {
  display: inline;
}

.hint {
  background: #fea;
}

.active {
  background: #ffd4d4;
}

.Clear a {
  margin: 0;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  display: block;
}

#taskcont textarea {
  word-wrap: break-word;
  overflow: hidden;
  resize: none;
  border: none;
  height: 18px;
}

#taskcont textarea:focus {
  outline: none;
}

#ListContainer {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Clear {
  margin: 0;
  background-color: #f0f0f0;
}

#List-title {
  border-bottom: 1px solid #f0f0f0;
  padding: 2px;
  margin-left: 2px;
}

#List-title p {
  margin-left: 10px;
}
